*,
*::before,
::after {
  margin: 0;
  padding: 0;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

#root {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container-calculator {
  width: 70%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.result {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  font-size: 2rem;
  height: 50px;
  background-color: rgb(97, 106, 118);
  color: white;
  padding-right: 5px;
}

.buttons-calculator {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 50px 50px 50px 50px 50px;
}

.btn-calculator {
  background-color: rgba(223, 209, 209, 0.623);
  border: 0.5px solid rgba(180, 179, 179, 0.459);
  cursor: pointer;
  font-size: 1.2rem;

}

.btn-calculator:hover {
  background-color: rgba(128, 128, 128, 0.345);
}

.color-right {
  background-color: rgb(236, 173, 91);
  font-size: 2rem;}

.color-right:hover {
  background-color: rgba(235, 133, 97, 0.813);
}

.zero {
  grid-column: 1/3;
}

@media only screen and (min-width: 768px) {
  .container-calculator {
    width: 25%;
  }
}
